body{
    background-image:linear-gradient(to right,rgb(255,34,255),rgb(200,233,221)) ;height: 100vh;
}
#headr{
    height: 8em;
    width: 25em;
    text-align: center;

}
header{
    display: flex;
    justify-content: center;
    font-family: "Abril Fatface", serif;
    margin: 10px;
}
hr{
    color: black;
    border: 1px solid black;
}
h1{
    font-size: 30px;
}
section{
    margin: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.container{
    border: 7px solid rgb(200,233,221);
    border-radius: 20px;
}
#input-container{
    width:30em;
    height:10em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-colors{
    margin: 5px;
}
#css{
    text-align: center;
    font-family: "Abril Fatface", serif;

}
